

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    min-height:100%;
    width: 100%; 
    background-image: url(https://images.unsplash.com/photo-1504152054892-5be4dc7dbe2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80);
    background-position: 40%;
}

body{
    color: white;
    height: 100%;

   background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
h1{
    color:palevioletred;
    font-family:'Freckle Face', cursive; 
    font-size: 20pt;

}
h2{
    padding: 50px;
    color:palevioletred;
    font-family:'Freckle Face', cursive; ;
    font-size: 30pt;
    text-align: left;
    letter-spacing: 10px;
}
span{
    color: purple;
    font-weight: 600;
    font-family: 'Butterfly Kids', cursive;
}
/*styling search bar*/
.box1{
    display:flex;
    width: 100%;
    font-family:'Open Sans', sans-serif ;
    font-size: 20px;
    background-color: rgba(45, 71, 71, 0.753);
    border:1px solid gray;
    opacity: 0.9;
    height: 30px;

}
#sale{
    width:60%;

}
.fa-search{
    color: rgb(29, 28, 28);
    width:35px;
    height:30px;
}
.fa-search:hover{
    color: maroon;
    transition: all .3s;
}
#search{
    padding:10px;
    background-color:rgb(219, 210, 210);
}
.shipping a{
    display: flex;
    color: rgb(222, 237, 241);
    width:25%;
    justify-content: center;
    padding-left: 200px;
}

/*styling navagition bar*/
.nav-top{
    display: flex;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}
ul li{
    width: 335px;
    height:40px;
    background-color: rgba(45, 71, 71, 0.753);
    line-height: 40px;
    text-align: center;
    margin-right:2px;
    position: relative;

}
ul li a{
    color: white;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

ul li a:hover{
    background-color: yellowgreen;
}

ul li ul li{
    display: none;
}
ul li:hover ul li{
    display:block ;
}

img{
    height:250px
}
/*mission*/
#mission{
    background-color: rgb(254, 255, 202);
    margin-top: -20px;
}
#mission h2{
    font-size: 20px;
    margin-left: 400px;
    margin-top: 20px;

}
#mission p{
    color:brown;
    font-size: 25px;
    padding-bottom: 40px;
    margin-top: -40px;
}


/*toddler girl*/
#toddler-girl h2{
    font-size: 20px;
    margin-left: 400px;
    margin-bottom: -50px;
}
#toddler-girl .clothes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: center;
}

.clothes img:hover{
    height:300px;
    width:300px;
    transition: all 3s;
    transition-timing-function:cubic-bezier(.53,.43,.14,1.42);
}

.description1,.description2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    font-weight: bolder;
    margin-top:-40px;
    display: none;
    color: rgb(102, 19, 19);
}

.clothes :hover .description1{
    display: block;
}
/*ORDER*/
.order button {
    border:1px solid gray;
    width: 600px;
    height: 50px;
    margin-left: 400px;
    margin-top: 30px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: bolder;
    background-color: rgb(47, 255, 109);
    border-radius: 50px;
    cursor: pointer;
}

.order button:hover{
    width: 700px;
    height: 55px;
    transition: all 3s ease-in-out;
}

/*styling discount */
.discount img{
    padding-left:80px;
    width: 90%;
    
}
/*styling baby girl*/
#baby-girl h2{
    font-size: 20px;
    margin-left: 400px;
    margin-bottom: -30px;
   
}

.baby-girl .baby-picture {
    display:inline-flex;
    padding-top: 20px;
    padding-left:100px;
}


/*description baby girl*/
.description {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    height:20px;
    margin-left: -100px;
    display: none;
    color: rgb(119, 46, 12);
    font-size:20px;
}
.baby-girl .baby-picture:hover .description{
    display: block;
}

.baby-girl .baby-picture img:hover{
    height: 300px;
    width: 300px;
    transition: all 3s ease-in-out;
}


/*girl*/
#girl h2{
    font-size: 20px;
    margin-left: 400px;
    margin-bottom:-50px;
}

#girl .girl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    padding-top: 20px;
    padding-bottom: 40px;
}
.girl .girl-picture img:hover{
    height:300px;
    width:300px;
    transition:all 3s;
    transition-timing-function: cubic-bezier(.53,.43,.14,1.42);
}
.girl .girl-picture:hover .description2{
    display: block;
}

/*covid*/
#covid{
    background-color: rgb(252, 246, 197);
}
    


#covid h2{
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    padding-top: 0px;
    text-align: center;
    font-weight: bold;
}
#covid p{
    font-size: 20px;
    margin-top: -30px;
   padding-left: 100px;
   color: brown;
}
/*social media*/
#social{
    background-color: rgb(245, 243, 243);
    text-align: center;
}
 #social .social a{
    display:inline-block;
    margin-right: 5px;
    font-size: 1.8em;
    padding-left:100px;

}   
#social h3{
    padding-left: 20px;
    margin-bottom: 5px;
}
.fa-facebook{
    color: rgb(18, 18, 99);
}
.fa-twitter{
    color: rgb(79, 79, 252);
}
.fa-snapchat{
background-color: rgb(248, 248, 8);
color: white;
border-radius:50%;
}
.fa-instagram{
    
    border-radius: 9px;
    background: #d6249f;
    background-image:  radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
/*footer*/

.footer { 
    color:#d3d3d3;
    height: 190px;
    border: 1px solid gray;
}
 #footer-bottom{
    background-color:rgb(206, 204, 204);
    color: rgb(31, 27, 27);
    height: 30px;
    width:100%;
    text-align:center;
    bottom:0px;
    left:0px;
    
}

.footer-content{
    height:187px;
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1504151671506-6312eceb0f18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80);
    background-position: 30%;
}

.footer-content .footer-section{
    flex: 1;
}
.about p{
    color: rgb(75, 2, 2);
    font-size: .8em;
    
}

.about.contact1 {
    font-size: 30px;

}

.contact1 a:hover{
 color:rgb(223, 18, 93);
}


input[type=email]{
background-color: rgb(238, 228, 228);
color: honeydew;
margin-bottom: 10px;
border-radius: 5px;
width:300px;
height: 30px;
padding:10px 20px;

}
textarea[type=message]{
    width:300px;
    height: 50px;
    padding:10px 20px;
    background-color: rgb(238, 231, 231);
    

}

button{
    background-color: goldenrod;
    width: 60px;
    border-radius: 5px;
}
button:hover{
    background-color:green;
}

.contact-form{
    text-align:center;;
}
h3{
    color: rgb(14, 12, 12);
    margin-bottom:-10px ;

}
.about .logo1{
    color: rgb(252, 56, 121);
}

